<mat-nav-list *ngIf="cart && cart.products.length">
  <mat-list-item>
    <a style="width: 30%; text-align: center">Nombre</a>
    <a style="width: 20%; text-align: center">Precio</a>
    <a style="width: 15%; text-align: center">Cantidad</a>
    <a style="width: 30%; text-align: center">Acciones</a>
  </mat-list-item>

  <mat-list-item *ngFor="let product of cart.products">
    <span class="center-list">{{ product.name }}</span>
    <span style="width: 20%; text-align: center">{{ (product.price * product.qty).toFixed(2) }}€</span>

    <mat-form-field style="text-align: center">
      <input matInput style="width: 15%" #qty [value]="product.qty" />
    </mat-form-field>

    <button color="primary" mat-icon-button style="width: 15%; text-align: center;" (click)="update(product, qty)">
      Actualizar
    </button>
    <button color="warn" mat-icon-button style="width: 15%; text-align: center;" (click)="remove(product)">
      Eliminar
    </button>
  </mat-list-item>
</mat-nav-list>

<button [disabled]="!totalPrice" color="accent" mat-raised-button class="full-width" (click)="processOrder()">
  Total: {{ totalPrice }}€<br />
  Finalizar pedido
</button>

<mat-nav-list *ngIf="!totalPrice">
  <a routerLink="/shop" style="text-align: center"><h2>El carrito está vacío, ir a añadir productos</h2></a>
</mat-nav-list>
