<div *ngIf="auth.user | async; then authenticated else guest">

</div>

<ng-template #authenticated>
  <mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="auth.user | async as user">
      <a
        *ngIf="user.role === 'customer'"
        routerLinkActive="active"
        routerLink="/orders"
        [routerLinkActiveOptions]="{exact:true}"
      >
        Pedidos
      </a>
      <a
        *ngIf="user.role === 'admin' || user.role === 'editor'"
        routerLinkActive="active"
        routerLink="/admin"
        [routerLinkActiveOptions]="{exact:true}"
      >
        Administración
      </a>
      <a
        routerLinkActive="active"
        routerLink="/shop"
        [routerLinkActiveOptions]="{exact:true}"
      >
        Tienda
      </a>
      <a
        *ngIf="user.role === 'customer'"
        routerLinkActive="active"
        routerLink="/cart"
        [routerLinkActiveOptions]="{exact:true}"
      >
        Carrito ({{ cart?.totalProducts }})
      </a>
      <a
        (click)="auth.signOut()"
      >
        Salir
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>

<ng-template #guest>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a
        routerLinkActive="active"
        routerLink="/shop"
        [routerLinkActiveOptions]="{exact:true}"
      >
        Tienda
      </a>
      <a
        routerLinkActive="active"
        routerLink="/login"
        [routerLinkActiveOptions]="{exact:true}"
      >
        Login
      </a>
      <a
        routerLinkActive="active"
        routerLink="/register"
        [routerLinkActiveOptions]="{exact:true}"
      >
        Registro
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-template>
